.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;

    background-color: var(--dark-blue);
}

.navbar a {

    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    line-height: 100%;
    text-decoration: none;

    color: var(--white);
}

.navbar .row-left {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 70%;
    height: 100%;
    padding-left: 2%;
}

.navbar .row-right {
    display: flex;
    justify-content: end;
    align-items: center;

    width: 30%;
    height: 100%;
}

.navbar .col-left {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

.navbar .col-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33.33%;
    height: 100%;
}